#cloud-config

package_update: true
package_upgrade: false

ssh_pwauth: false
disable_root: false

write_files:
  - path: /etc/ssh/sshd_config.d/99-no-passwd.conf
    content: |
      PasswordAuthentication no
      ChallengeResponseAuthentication no
      UsePAM yes

  - path: /etc/apt/sources.list.d/zabbly-incus-stable.sources
    content: |
      Enabled: yes
      Types: deb
      URIs: https://pkgs.zabbly.com/incus/stable
      Suites: jammy
      Components: main
      Architectures: amd64
      Signed-By: /etc/apt/keyrings/zabbly.asc


runcmd:
  - systemctl restart ssh
  - mkdir -p /etc/apt/keyrings/
  - curl -fsSL https://pkgs.zabbly.com/key.asc -o /etc/apt/keyrings/zabbly.asc

  - apt update
  - apt install -y incus incus-client python3.10-venv jq
  - incus admin init --auto --network-address=[::] --network-port=8443
  - incus admin waitready
