{# Data model for incus formula #}
{% import_yaml tpldir ~ '/defaults.yaml' as default %}

{# pillar: incus:... overrides defaults #}
{% set incus = salt['pillar.get']('incus', default.default, merge=True) %}
